.login-container {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.login-wrapper {
    width: 330px;
    height: auto;
    margin: 0 auto;
}

.login-wrapper h4 {
    font-size: 20px;
    text-align: left;
}

.operator-container {
    width: 350px;
}

.operator-container p {
    display: inline-block;
    font-size: 14px;
    color: #aaaaaa;
}

.operator-container a {
    color: #000000;
}

.operator-container p:hover {
    cursor: pointer;
    color: #EEB422;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.login-button {
    width: 350px;
    height: 50px;
    border: hidden;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
}

.login-button-enable {
    background: #d40f0f;
}

.login-button-disable {
    background: #dedede;
}