.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
}
.header-wrapper {
    position: relative;
    display: inline-flexbox;
    height: 80px;
    max-width: 1200px;
    background: #ffffff;
    margin: auto;
}

.header-wrapper a {
    color: black;
}

.name-container {
    position: relative;
    float: left;
    width: 300px;
    height: 100%;
}

.name-container img {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

.name-container p {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    margin-left: 20px;
    font-size: 20px;
}

.my-book-list-wrapper {
    position: relative;
    float: right;
    width: auto;
    height: 90px;
}

.my-book-list-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
}

.my-book-list-container p {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid #d0d0d0;
    padding-left: 10px;
    padding-right: 10px;
}

.my-book-list-container p:hover {
    cursor: pointer;
    background-color: #EEB422;
}